/* base styles */
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body{
    font-family:"karla",sans-serif;
    font-weight:700;
    background-color:hsl(204, 43%, 93%);
    color:hsl(218, 22%, 67%);
    padding:40px 30px;
}
.container{
    box-shadow: -4px 5px 117px -35px rgba(0,0,0,0.3);;
}
.card{
    /* border:2px solid red; */
    padding:1.75rem;
}
.card > *{
    margin-bottom:20px;
}
.community{
    background-color:white;

}
.community h2{
    color:hsl(179, 62%, 43%);
}
.community h3{
    color:hsl(71, 73%, 54%);
}
.community p{
    color:hsl(218, 22%, 67%);
    font-weight:400;
}
.subscription{
    background-color:hsl(179, 62%, 43%);
    color:white;
}
.subscription > div,
.subscription > p{
    font-weight:400;
}
.subscription span{
  font-size:2rem;
  margin-right:0.7rem;
}
.btn{
    display:block;
    padding:10.5px;
    width:100%;
    height:2.5rem;
    background-color:hsl(71, 73%, 54%);
    text-align:center;
    border-radius:5px;
    box-shadow: -4px 10px 117px 2px rgba(0,0,0,0.3);;
}
.signup{
    text-decoration:none;
    color:white;
}
.services{
    background-color:hsl(179, 62%, 43%,0.8);
    color:white;
}
.services p{
    color:rgb(216, 216, 216);
    font-weight:400;
}
.attribution{
    margin-top:4rem;
}
@media (min-width:550px){
    .container{
        width:90%;
        margin:0 auto;
        max-width:940px;
        display:flex;
        flex-wrap:wrap;
    }
    .community{
        flex-basis:100%;
    }
    .subscription,
    .services{
        flex-basis:50%;
    }
    .btn:hover{
        color:hsl(71, 73%, 54%);
        background-color:white;
        box-shadow: -4px 10px 117px 2px hsl(71, 73%, 54%);
    }
    
}